.fadeaway {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out 0s;
    -moz-transition: opacity 0.3s ease-out 0s;
    transition: opacity 0.3s ease-out 0s;
}

.m-center {
    margin-left: auto; margin-right: auto;
}

.layover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.button-style-one {
    outline: none;
    margin-top: 20px;
    color: #6f6f6f;
    background-color: transparent;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    border: 3px #6f6f6f solid;
    -webkit-transition: background-color 0.3s, color 0.3s ease-in 0s;
    -moz-transition: background-color 0.3s, color 0.3s ease-in 0s;
    transition: background-color 0.3s, color 0.3s ease-in 0s;
}

.button-style-one:hover {
    color: #9f9f9f;
    background-color: #6f6f6f;
}

.fadeOnHover {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
}

.fadeOnHover:hover {
    opacity: 0.4;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
}