
.login {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0.8;
    background-color: #aaaaaa;
    text-align: center;
    z-index: 10;
    display: none;
}

.login .box {
    width: 400px;
    height: 200px;
    position: relative;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    opacity: 1.0;
    margin-top: 40vh;
}

.login .username {
    border: 3px #6f6f6f solid;
    background-color: transparent;
    color: #323232;
    font-family: Avenir, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    outline-style: none;
    display: block;
    padding-left: 10px;
    padding-top: 4px;
}

.login .submit {
    outline: none;
    margin-top: 20px;
    color: #6f6f6f;
    background-color: transparent;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    border: 3px #6f6f6f solid;
    -webkit-transition: background-color 0.3s, color 0.3s ease-in 0s;
    -moz-transition: background-color 0.3s, color 0.3s ease-in 0s;
    transition: background-color 0.3s, color 0.3s ease-in 0s;
}

.login .submit:hover {
    color: #9f9f9f;
    background-color: #6f6f6f;
    -webkit-transition: background-color 0.3s, color 0.3s ease-in 0s;
    -moz-transition: background-color 0.3s, color 0.3s ease-in 0s;
    transition: background-color 0.3s, color 0.3s ease-in 0s;
}

.signup {
    text-decoration: none;
    color: #6f6f6f;;
    font-size: 20px;
    cursor: pointer;
}

.logo {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #424242;
    font-family: Pacifico;
}