#profile-edit {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.blanket {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #cfcfcf;
    opacity: 0.5;
}

.panel {
    z-index: 12;
    width: 30vw;
    padding: 40px;
    background-color: lightgrey;
    border-radius: 10px;
    color: #8f8f8f;
    margin-top: 20vh;
    position: relative;
}

.panel .fieldname{
    font-size: 30px;
    margin: 10px;
}

.image {

}

.panel input {
    border: none;
    border-left: 3px #6f6f6f solid;
    background-color: #dfdfdf;
    font-size: 20px;
    margin-bottom: 40px;
    padding-left: 10px; 
    color: #6f6f6f;
    outline: none;
}

.panel textarea {
    border: none;
    background-color: #dfdfdf;
    border-left: 3px solid #6f6f6f;
    height: 140px;
    font-size: 20px;
    resize: none;
    color: #6f6f6f;
    padding-left: 10px;
    outline: none;
}

.panel .submit {
    margin-top: 100px;
}