#profile {
    margin-top: 100px;
}

.user {
    opacity: 0;
}

/* USER NAME AND PROFILE */

.user .userhead {
    position: relative;
    width: 100%;
    height: 140px;
    text-align: left;
    overflow: hidden;
    display: table;
}

.user .userhead .img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: center no-repeat cover;
    display: table-cell;
    background-color: #9d9d9d;
}

.user .userhead .name {
    font-size: 40px;
    color: #323232;
    padding-left: 80px;
    display: table-cell;
    font-weight: 200;
    vertical-align: middle;
}

.user .userhead .settings {
    padding-left: 40px;
    display: table-cell;
    width: 50px;
    vertical-align: middle;
}

/* USER INFO BODY */

.userbody {
    margin-top: 50px;
    text-align: left;
}

.userbody .description {
    font-size: 26px;
}

.userbody .status {
    color: #434343;
    margin-top: 30px;
    font-size: 20px;
}

/* USER ACTIONS */

.userActionWrapper {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.userAction {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    background-color: lightgrey;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    color: #565656;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
}

.userAction:hover {
    background-color: #b8b8b8;
}

.userAction .text {
    user-select: none;
    cursor: default;
}

.userAction .img {
    width: 40px;
    margin-top: 30px;
    opacity: 0.8;
}

/* POSTS BY USER */

.userevent {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-color: #dedede;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    white-space: nowrap;
    text-align: left;
}

.userevent .item {
    background: #8f8f8f center no-repeat;
    border-radius: 10px;
    margin-left: 10px;
    width: 30%;
    height: 120px;
    margin-top: 10px;
    display: inline-block;
    overflow-y: hidden;
}

.userevent .end {
    margin-right: 10px;
}