html
    head
        title Luxa
        //Main CSS
        link(href="style.css", rel="stylesheet")
        link(href="reusables.css", rel="stylesheet")
        link(href="partials/footer.css", rel="stylesheet")
        link(href="partials/navbar.css", rel="stylesheet")
        //Pages CSS
        link(href="partials/profile.css", rel="stylesheet")
        link(href="partials/login.css", rel="stylesheet")
        //Dependencies
        script(src="dependencies/angular.min.js")
        script(src="dependencies/angular-route.js")
        script(src="dependencies/jquery-3.2.1.min.js")
        script(src="dependencies/jquery-ui.min.js")
        //Scripts
        script(src="app.js")
    body
        div.app(ng-app="luxa")
            div(ng-controller="nav").nav
                div.title L u x a
                div.tasks
                    div(ng-repeat="x in tasks" ng-mousedown="to(x.toLowerCase())").micro {{x}}
            div(ng-view).content