div.section#login(ng-controller="login")
    div.logo Cluster
    div.login.m-center
        div.box.m-center
            input.username.m-center(type="text" placeholder="username")
            input.password.username.m-center(type="password" placeholder="password")
            button.submit.m-center(ng-mousedown="login()") Submit
            h3.signup.m-center(ng-mousedown="signUp()") Dont have an account?