link(href="partials/profile-edit.css", rel="stylesheet")
div#profile-edit
    div.panel.m-center
        div.image
        div.fieldname Full Name
        input(spellcheck="false")
        div.fieldname Biography
        textarea(spellcheck="false")
        br
        br
        br
        button.button-style-one(ng-mousedown="submit()") Update
    div.blanket(ng-mousedown="hideProfileEdit()")