div.section#profile(ng-controller="profile")
    div.login
        div.box.m-center
            input.username.m-center(tyep="text" placeholder="username")
            input.username.m-center(type="password" placeholder="password")
            button.submit.m-center(ng-mousedown="login()") Submit
    div.user
        div.userhead
            div.img
            h1.name
        div.userbody
            div.description
            div.status
        div.userstore
            div.item
            div.item
            div.item
            div.item
            div.item.end