div.section#profile(renderUserProfile ng-controller="profile")
    div.user
        div.userhead
            div.img
            h1.name
        div.userbody
            div.description
            div.status
        div.userevent