div.section#profile(ng-controller="profile")
    div.user
        div.userhead
            div.img
            h1.name
        div.userbody
            div.description
            div.status
        div.userActionWrapper
            div.userAction#add
                div.text +
            div.userAction#remove
                div.text -
            div.userAction#settings(ng-mousedown="showProfileEdit()")
                img.img(src="img/settings.png")
        div.userevent
            div.event
    include ./profile-edit.pug