div.section#signup(ng-controller="signup")
    link(href="partials/signup.css", rel="stylesheet")
    div.signupform.m-center
        form
            input.text.name(spellcheck="false" placeholder="Full Name")
            input.text.username(spellcheck="false" placeholder="Username")
            input.text.password(spellcheck="false" type="password" placeholder="Password")
            input.text.verifypassword(spellcheck="false" type="password" placeholder="Verify Password")
            div.picWrapper.m-center
                div.fill
                input.profilePic(
                    type="file" name="file" id="file" accept="image/png"
                )
                div.labelWrapper
                    label(for="file" ng-mouseenter="fadeUI()" ng-mouseleave="unFadeUI()") Select Profile Image
            button.button-style-one(ng-mousedown="submitNewUser()") Submit