div.section#signup(ng-controller="signup")
    link(href="partials/signup.css", rel="stylesheet")
    div.signupform.m-center
        form
            input.name(placeholder="Full Name")
            input.username(placeholder="Username")
            input.password(type="password" placeholder="Password")
            input.verifypassword(type="password" placeholder="Verify Password")
            div.picWrapper.m-center
                img.fill
                input.profilePic(
                    type="file" name="file" id="file" accept="image/x-png, image/jpeg, image/gif"
                )
                div.labelWrapper
                    label(for="file") Select Profile Image
            button.button-style-one Submit
            